* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

body h1 {
  text-align: center;
  padding: 15px;
}

.books-list-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: 2px solid rgb(100, 100, 100);
}

hr {
  color: blue;
}

.book-remove {
  padding: 6px;
  box-shadow: 2px 3px;
}

.title {
  font-size: 14px;
}

.article-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.article-container:nth-of-type(odd) {
  background-color: #e2e2e2;
}

#title,
#author {
  padding: 6px 0;
  margin-top: 1rem;
}

.button-container {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

#addbook {
  padding: 6px 2rem;
}

.book-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-form-container input {
  box-shadow: 1px 1.5px;
  width: 100%;
}

.book-form-container h2 {
  padding: 7px 0;
  text-align: center;
}

.border-special {
  height: 3px;
  background-color: black;
  width: 30%;
  margin: 4px 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin-top: 30px;
}

.contact h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

.contact h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

.contact ul li {
  font-size: 27px;
}

.the-footer {
  display: flex;
  align-self: flex-start;
}
