* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body h1 {
    text-align: center;
    padding: 15px;
}

.books-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(100, 100, 100);
    width: 40%;
}

hr {
    color: blue;
}

.book-title {

}

.book-author {

}

.book-remove {
 padding: 6px;
}

.title {
 font-size: 14px;
}

.article-container {
  display: flex;
  justify-content: space-between;
  padding:1rem 1.5rem;
}

.article-container:nth-of-type(odd) {
    background-color: #e2e2e2 ;
}

#title, #author {
  padding: 6px 0;
  margin-top: 1rem;
}

#addbook {
  padding: 6px 2rem;
  margin-top: 1rem;
}
